<form [formGroup]="form">
  <app-input label="Nome:" formControlName="nome"></app-input>

  <div class="form-field">
    <label>Rua:</label>
    <input type="text" formControlName="rua">
  </div>

  <div class="form-field">
    <label>Numero:</label>
    <input type="number" formControlName="numero">
  </div>

  <div class="form-field">
    <label>Complemento:</label>
    <input type="text" formControlName="complemento">
  </div>
</form>

<app-input label="Paulo" [(ngModel)]="meuInput" />

<app-input-2 class="input" isPrimary="true"></app-input-2>

<button (click)="onClick()">Print Form</button>
<button [disabled]="form.invalid">Enviar</button>

<p>Form is valid: {{ form.valid }}</p>